[submodule "Laszlo-Albert.github.io"]
	path = Laszlo-Albert.github.io
	url = https://github.com/Laszlo-Albert/Laszlo-Albert.github.io.git
[submodule "OC-Project2"]
	path = OC-Project2
	url = https://github.com/Laszlo-Albert/OC-Project2
